.jumbotron-image {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;

    /*min-height: 500px;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;*/
}

.jumbotron-image,
.jumbotron-image:before {
    background: 50% 50% / cover;
}

.jumbotron-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.page-scroll{
    height:5000px;
}