.jumbotron-image {
    /* Parallax Demo : https://keithclark.co.uk/articles/pure-css-parallax-websites/demo3/ */
    text-transform: uppercase;
    background-size: cover;
    min-height: 500px;

    -webkit-filter: blur(8px);
    filter: blur(8px);
}