.jumbotron-image {
    margin-bottom: 0 !important;
    text-transform: capitalize;
    text-align: center;

    background-position: center;
    background-size: cover;
}

.page-scroll{
    height:2500px;
}