html * {
    font-family: muli, sans-serif;
    font-weight: 400;

    --primary-color: #007BFF;
    --secondary-color: #3FB3FB;
    --bg-color: linear-gradient(to right, var(--primary-color), var(--secondary-color));

    --accent-color: #F8F8F8;
    --shadow-color: #B8B8B8;
    --dark-shadow-color: #000000;
}

body {
    background: var(--bg-color);
}
.scroll {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    color: var(--accent-color);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
}
.me {
    color: var(--accent-color);
    font-weight: 200;
    text-align: center;
}
.me:hover {
    cursor: default;
}
.social-icons, .webpage-links {
    justify-content: center;
}

.navbar {
    transition: background-color 0.4s;
    background: var(--bg-color);
    height: 78px;
}
.active {
    opacity: 100%;
}
.inactive {
    opacity: 60%;
}
.disabled {
    opacity: 30%;
}
.webpage-links * {
    color: var(--accent-color);
}
.social-icons * {
    color: var(--accent-color);
}
.navbar-brand {
    color: var(--accent-color);
}
.nav-link{
    position: relative;
}
.nav-link:before, .nav-link:after {
    content: "";
    width: 0;
    bottom: 0;
    height: 3px;
    position: absolute;
    background-color: var(--accent-color);
    transition: width .15s ease-out;
}
.nav-link:before {
    left: 50%;
    transform: translateX(-50%);
}
.nav-link:after {
    right: 50%;
    transform: translateX(50%);
}
.nav-link:hover:before, .nav-link:hover:after {
    width: 100%;
    transition-duration: .15s;
}

.scroll::-webkit-scrollbar {
    width: 0.32rem;
}
.scroll::-webkit-scrollbar-track {
    background: var(--secondary-color);
}
.scroll::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

.link-icon {
    margin-left: 20px;
    font-size: 40px;
    color: var(--primary-color);
}
.link-icon:hover {
    text-shadow: 0 0 6px var(--shadow-color);
}

iframe {
    border: none;
}

