/* Font and colours */
html * {
    font-family: muli, sans-serif; !important;

    --primary-color: #007BFF;
    --secondary-color: #3FB3FB;
    --bg-color: linear-gradient(to right, var(--primary-color), var(--secondary-color));

    --accent-color: #F8F8F8;
    --shadow-color: #B8B8B8;
}

/* Navbar */
.navbar {
    transition: background-color 0.4s;
    background: var(--bg-color);
    height: 78px;
}
.active {
    opacity: 100%;
}
.inactive {
    opacity: 60%;
}
.disabled {
    opacity: 30%;
}
#webpage-links * {
    color: var(--accent-color);
}
#social-icons * {
    color: var(--accent-color);
}
.navbar-brand {
    color: var(--accent-color);
}

/* Navbar item hover */
.nav-link{
    position: relative;
}
.nav-link:before, .nav-link:after {
    content: "";
    width: 0;
    bottom: 0;
    height: 3px;
    position: absolute;
    background-color: var(--accent-color);
    transition: width .15s ease-out;
}
.nav-link:before {
    left: 50%;
    transform: translateX(-50%);
}
.nav-link:after {
    right: 50%;
    transform: translateX(50%);
}
.nav-link:hover:before, .nav-link:hover:after {
    width: 100%;
    transition-duration: .15s;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.3rem;
}
body::-webkit-scrollbar-track {
    background: var(--secondary-color);
}
body::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}
.page-scroll{
    height:2500px;
}

/* Social icon links */
.link-icon {
    margin-left: 20px;
    font-size: 40px;
    color: var(--primary-color);
}
.link-icon:hover {
    text-shadow: 0 0 6px var(--shadow-color);
}

/* Footer */
.footer {
    background-color: var(--accent-color);
}

/* Elements on multiple pages */
.jumbotron-intro * {
    display: inline-block;
}
.main {
    margin-top: 110px;
}
iframe {
    border: none;
}

