/* Custom font */
html * {
    font-family: muli, sans-serif; !important;
    --bg-color: #4285F4;
    --accent-color: #F8F9FA;
    --shadow-color: #B8B8B8;
}

/* Navbar customisation */
.navbar {
    transition: background-color 0.4s;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    height: 78px;
}
#webpage-links * {
    color: var(--accent-color);
    opacity: 50%;
}
#social-icons * {
    color: var(--accent-color);
}
.navbar-brand {
    color: var(--accent-color);
}
.nav-link{
    position: relative;
}
.nav-link:before, .nav-link:after {
    content: "";
    width: 0;
    bottom: 0;
    height: 3px;
    position: absolute;
    background-color: var(--accent-color);
    transition: width .15s ease-out;
}
.nav-link:before {
    left: 50%;
    transform: translateX(-50%);
}
.nav-link:after {
    right: 50%;
    transform: translateX(50%);
}
.nav-link:hover:before, .nav-link:hover:after {
    width: 100%;
    transition-duration: .15s;
}

/* Custom scrollbar */
body::-webkit-scrollbar {
    width: 0.3rem;
}
body::-webkit-scrollbar-track {
    background: var(--bg-color);
}
body::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

/* Social icon links */
.link-icon {
    margin-left: 20px;
    font-size: 40px;
    color: var(--bg-color);
}
.link-icon:hover {
    text-shadow: 0 0 6px var(--shadow-color);
}

/* Footer customisation */
.footer {
    background-color: var(--accent-color);
    width: 100%;
    bottom: 0;
}
